S3method(plot,plspm)
S3method(print,plspm)
S3method(print,plspm.groups)
S3method(print,rebus)
S3method(print,rebus.test)
S3method(print,summary.plspm)
S3method(summary,plspm)
export(alpha)
export(check_args)
export(check_blocks)
export(check_boot)
export(check_data)
export(check_maxiter)
export(check_model)
export(check_modes)
export(check_path)
export(check_plscomp)
export(check_scaling)
export(check_scheme)
export(check_specs)
export(check_tol)
export(dummy.G)
export(get_GQI)
export(get_PLSR)
export(get_PLSR_NA)
export(get_PLSRdoubleQ)
export(get_alpha)
export(get_ave)
export(get_boot_stats)
export(get_boots)
export(get_data_scaled)
export(get_dummies)
export(get_dummy)
export(get_effects)
export(get_generals)
export(get_gof)
export(get_inner_summary)
export(get_locals_test)
export(get_manifests)
export(get_metric)
export(get_nom_scale)
export(get_num_scale)
export(get_numerics)
export(get_ord_scale)
export(get_path_scheme)
export(get_paths)
export(get_plsr1)
export(get_rank)
export(get_rho)
export(get_scores)
export(get_treated_data)
export(get_unidim)
export(get_weights)
export(get_weights_nonmetric)
export(innerplot)
export(is_missing)
export(it.reb)
export(local.models)
export(normalize)
export(outerplot)
export(plspm)
export(plspm.fit)
export(plspm.groups)
export(quantiplot)
export(rebus.pls)
export(rebus.test)
export(res.clus)
export(rescale)
export(rho)
export(test_dataset)
export(test_factors)
export(test_manifest_scaling)
export(test_null_weights)
export(unidim)
import(diagram)
import(shape)
import(tester)
import(turner)
importFrom(amap,hcluster)
