S3method(plot,plspm)
S3method(print,local.models)
S3method(print,plspm)
S3method(print,plspm.groups)
S3method(print,rebus)
S3method(print,rebus.test)
S3method(print,summary.plspm)
S3method(summary,plspm)
export(get_GQI)
export(get_boots)
export(get_effects)
export(get_gof)
export(get_loads)
export(get_locals_test)
export(get_params)
export(get_path_scheme)
export(get_paths)
export(get_plsr1)
export(get_unidim)
export(get_weights)
export(innerplot)
export(it.reb)
export(local.models)
export(outerplot)
export(plspm)
export(plspm.fit)
export(plspm.groups)
export(rebus.pls)
export(rebus.test)
export(res.clus)
